<!-- profile body -->
<div class="content-body profile-body">
    <div class="notifications-section">
        <div class="alerts">

            <h4 class="heading"> alerts </h4>

            <div style="width: 100%;">
                <h5 class="heading" style="padding: 0.5rem;">
                    new alerts<span>[<p>{{new_alerts_count}}</p>]</span>
                </h5>
                <div class="alert-content">
                {{#each new_alerts}}
                    <div class="alert-body">
                        <table>
                            <tr>
                                <td style="color: rgba(255, 255, 255, 0.548);">deceased customer</td>
                                <td class="alert-details">{{this.name}}<p>{{this.name}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: rgba(255, 255, 255, 0.548);">phone</td>
                                <td class="alert-details">{{this.phone}}<p>{{this.phone}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: rgba(255, 255, 255, 0.548);">entry time</td>
                                <td class="alert-details">{{this.entryTime}}<p>{{this.entryTime}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: rgba(255, 255, 255, 0.548);">exit time</td>
                                <td class="alert-details">{{this.exitTime}}<p>{{this.exitTime}}</p>
                                </td>
                            </tr>
                        </table>
                        <div class="filter">
                            <a href="/admin/customers/search-special-key?id={{this._id}}">get customer</a>
                        </div>
                        <h6 class="new-alert">new</h6>
                    </div>
                {{/each}}
                </div>

                <div class="line"></div>

                <h5 class="heading" style="padding: 0.5rem;">
                    old alerts
                    <button onclick="showOld(this)"
                        style="display: flex; align-items: center; justify-content: center; background: none; cursor: pointer;">
                        <span style="padding: 0; color: white;" class="material-icons"> expand_more </span>
                    </button>
                </h5>
                <div class="alert-content" id="old-alert" style="display: none;">
                {{#each old_alerts}}
                    <div class="alert-body">
                        <table>
                            <tr>
                                <td style="color: rgba(255, 255, 255, 0.548);">deceased customer</td>
                                <td class="alert-details">{{this.name}}<p>{{this.name}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: rgba(255, 255, 255, 0.548);">phone</td>
                                <td class="alert-details">{{this.phone}}<p>{{this.phone}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: rgba(255, 255, 255, 0.548);">entry time</td>
                                <td class="alert-details">{{this.entryTime}}<p>{{this.entryTime}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: rgba(255, 255, 255, 0.548);">exit time</td>
                                <td class="alert-details">{{this.exitTime}}<p>{{this.exitTime}}</p>
                                </td>
                            </tr>
                        </table>
                        <div class="filter">
                            <a href="/admin/customers/search-special-key?id={{this._id}}">get customer</a>
                        </div>
                        <h6 class="new-alert">new</h6>
                    </div>
                {{/each}}
                </div>
            </div>

        </div>

        <div class="line"></div>

        <div class="notifications">
            <h4 class="heading">notifications <span>[<p>new: 0</p>]</h4>
        </div>
    </div>
</div>

<script>
    const oldAlert = document.getElementById('old-alert');

    function showOld(self){
        oldAlert.style.display = oldAlert.style.display == "none" ? "grid" : "none";
    }
</script>